.navbar{
    top:0;
    width: 100%;
}
.navbar-brand{
    color: #0ac257;
}
.navbar-brand:hover{
    color: hsl(145, 90%, 60%);
}
.navbar-brand:active{
    color: hsl(145, 90%, 60%);
}
.navbar-brand:focus{
    color: hsl(145, 90%, 60%);
}

.dashboard{
    display:flex;
    flex-direction: column;
    background-color: #242424;
    height:fit-content;
    width:100%;
    align-items: center;
}

.greeter{
    padding:10px;
    color:#f2f2f2;
    display: flex;
    flex-direction: row;
    a{
        color:#0ac257;
    }
    a:hover{
        color:hsl(145, 78%, 33%);
    }
    code{
        color:#0ac257;
    }
    hr{
        color:#0ac257;
    }
}
.overlay{
    position: absolute;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }

  @keyframes fadeScaleIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }